@charset "EUC-KR";
<<<<<<< HEAD

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: Eulyoo1945-SemiBold
}

=======
>>>>>>> branch 'main' of https://github.com/yone521/TeaTimeChaChaCha.git
.line {
	width:100%; height:1px; background:#CCD5AE;
}