@charset "EUC-KR";

* { 
 	margin: 0; 
 	padding: 0; 
 } 

@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 

html,body{ 
	font-family: 'Eulyoo1945-SemiBold';
	font-size: 17px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* TeaForm */

.teaPreview{
	display: block;
	width: 150px;
	height: 150px;
	margin : 10px auto;
}


.tea_container{
	display: flex;
	flex-wrap: wrap;
 	margin: 50px auto; 
	height: auto; 
	max-width: 1000px;
}

.tea_box{
	display:block;
	width: 200px;
	height: 200px;
	text-align: center; 
	background-color: #f8f9e1;
	margin : 20px;
	position: relative;
}

.teaText{
	margin : auto;
}

/* TeaInfo */

.teaImg{
	display: block;
	width: 300px;
	height: 300px;
	margin : auto;
}

.teaTable{
	width: 50%;
	height: 100%;
	align: center;
	margin: 50px auto; 
}

.teaTr, .teaTd{
	border-bottom: 1px solid #CCD5AE;
    padding: 10px;
	text-align: center;
	align: center;
	margin: 10px auto; 
}

.backDiv{
	align: center;
	margin-bottom: 30px;
}

.teaBack{
	font-size: 20px; 
 	padding: 5px; 
 	background-color: rgba(255, 255, 255, 1); 
 	border: none; 
 	border: solid 1px rgba(0, 0, 0, 1); 
 	cursor: pointer;
 	display:block;
 	margin:auto;
}

/* JoinForm */

.join_container { 
 	display: block; 
 	margin: 50px auto; 
 	text-align: center; 
 } 
 .join_container h2 { 
 	font-size: 50px; 
 	margin-bottom: 50px;
 } 
 .join_container h3 { 
 	font-size: 25px; 
 } 
 .joinID, 
 .joinPassword, 
 .joinName, 
 .joinNickname { 
 	margin-top: 20px; 
 	margin-bottom: 30px; 
 } 
 .input { 
 	padding: 5px; 
 	width: 300px; 
 	line-height: 30px; 
 	font-size: 20px; 
 	border: none; 
 	border-bottom: solid 1px rgba(0, 0, 0, 1); 
 } 
 
 .bt_join { 
 	font-size: 20px; 
 	padding: 5px; 
 	margin-bottom: 100px;
 	background-color: rgba(255, 255, 255, 1); 
 	border: none; 
 	border: solid 1px rgba(0, 0, 0, 1); 
 	cursor: pointer; 
 }
 .IDCheck{
 	font-size: 15px; 
 	padding: 3px; 
 	margin-bottom: 30px;
 	background-color: rgba(255, 255, 255, 1); 
 	border: none; 
 	border: solid 1px rgba(0, 0, 0, 1); 
 	cursor: pointer;
 }
 

/* LoginForm */
.login_containers { 
	display: block; 
	margin: 100px auto; 
	text-align: center; 

} 

.login_containers h2 { 
	font-size: 50px; 
	margin-bottom: 80px; 

} 

.login_containers h3 { 
	font-size: 25px; 
} 

.loginID, .loginPassword { 
	margin-top: 20px; 
	margin-bottom: 30px; 
} 

.input {
	padding: 5px; 
	width: 300px; 
	line-height: 30px; 
	font-size: 20px;
	border: none; 
	border-bottom: solid 1px rgba(0, 0, 0, 1); 
} 

.bt_login { 
	font-size: 20px; 
	padding: 5px; 
	background-color: rgba(255, 255, 255, 1); 
	border: none; 
	border: solid 1px rgba(0, 0, 0, 1); 
	cursor: pointer; 
}

.bt_join { 
	font-size: 20px; 
	padding: 5px; 
	background-color: rgba(255, 255, 255, 1); 
	border: none; 
	border: solid 1px rgba(0, 0, 0, 1); 
	cursor: pointer; 
}

.alogout {
	color: black;
}
/*출처: https://group11.tistory.com/9 [Jo's]*/

/* home */

.dayTea{
	color:#bac691; 
	background-color: #fdfdf7;
	padding:10px;
	
}

.teaRandom{
	font-size: 25px; 
	color:#a3b669;
	margin:10px;
	display:inline;
}

.teaMore{
	color:#CCD5AE;
}

.image {
	position: relative;
	text-align: left;
}

i {
	font-size: 25px; 
	color:#a3b669;
}

/* cafe */

#cafebar {
	height: 45px;
	background-color: #fdfdf7;
}

.order {
	float:left; margin:10px;
}

#search {
	float:right; margin:10px;
}

.line {
	width:100%; height:1px; background:#CCD5AE;
}

.cafe_container {
}

.cafePreview{
	width: 350px;
	height: 250px;
	margin: 10px;
}

.cafe_image{
	position: relative;
	left: 100px;
}

.cafe_info {
	width: 90%;
}

.cafe_name {
	color:#a3b669;
	font-size: 25px;
}