@charset "EUC-KR";

html, body {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
}
 * { 
 	margin: 0; 
 	padding: 0; 
 } 
 
 ul{
 	text-align: right;
 }
 
 li
{
	display : inline-block;
	margin-right: 10px;
	
} 
 a { 
	text-decoration:none ;
	color:white;
}
#header{
	background-color:#CCD5AE; 
	width: 100%;
	height: 20%;
	position:relative;
}

#headerTitle{
	color:#FCF8DE;
	text-align: center 
}

#footer {
	color:white;
	background-color:#CCD5AE; 
	width: 100%;
	height: 15%;
	position:relative;
}
